<div>
  <div class="row-fluid topbar">
    <app-menu-container (searchTermEmmitter)='handleSearchTermEmmitter($event)' class=" app-menu-container"></app-menu-container>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <app-navigation-bar (pickedCharacterOut)="handlePickedCharacter($event)" [searchTerm]='searchTerm'></app-navigation-bar>
      </div>
      <div class="col-md-8 content">
        <app-profile-view *ngIf="pickedCharacterOut" [pickedCharacterOut]='pickedCharacterOut'></app-profile-view>
      </div>
    </div>
  </div>
</div>
